.Weather {
  border: 1px solid #ede2e0;
  padding: 16px;
  border-radius: 4px;
}

ul {
  list-style: none;
  color: #70757a;
  font-size: 16px;
  margin: 0%;
  padding: 0;
}
.Weather h3 {
  color: #202124;
  display: block;
  margin: 20px 0 0 0;
}
.Weather .temperature {
  color: #202124;
  display: inline-block;
  font-size: 55px;
  line-height: 60px;
}
