.Weather {
  border: 1px solid #ede2e0;
  padding: 16px;
  border-radius: 4px;
}

ul {
  list-style: none;
  color: #70757a;
  font-size: 16px;
  margin: 0%;
  padding: 0;
}
.Weather h3 {
  color: #202124;
  display: block;
  margin: 20px 0 0 0;
}
.Weather .temperature {
  color: #202124;
  display: inline-block;
  font-size: 50px;
  line-height: 64px;
  margin-right: 2px;
}
.Weather .unit {
  color: #202124;
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 4px;
  vertical-align: top;
}
.Weather img {
  margin-right: 8px;
  width: 64px;
  margin-bottom: 17px;
}
